.Header_box{
    height: 80px;
    line-height: 80px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    background: #002140;
    color: #fff;
    .left{
        display: flex;
        align-items: center;
    }
    .name{
        color: #1E90FF;
    }
    .out{
        margin-left: 20px;
    }
}